.products_Container {
  width: 100vw;
  box-sizing: border-box;
  align-items: center;
  margin: 110px 0px 60px 0px;
}

.allProductsList_Container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 50px;
  width: 100vw;
  box-sizing: border-box;
}

@media (max-width: 770px) {
  .allProductsList_Container {
    grid-template-columns: 1fr 1fr;
    grid-gap: 25px;
  }
}

@media (max-width: 600px) {
  .allProductsList_Container {
    grid-template-columns: 1fr;
    grid-gap: 20px;
  }
}
