.header_container {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 80px;
  box-shadow: 0 4px 12px 0 rgba(0,0,0,.05);
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  background: black;
}

.header_text {
  text-align: center;
  padding: 30px 20px;
  font-weight: 600;
  font-size: 14px;
  height: 80px;
  box-sizing: border-box;
  color: #fff;
}

a {
  text-decoration: none;
  color: #fff;
  font-size: 12px;
}